@use './colors';
@use "../styles/common/accordion";
body {
  font-family: 'Comfortaa', 'Courier New';
  .header {
    width: 100%;
    height: 60px;
    display: flex;
    flex-flow: row wrap;
    box-shadow: 1px 1px 15px 5px colors.$greey-light;
    font-family: 'ArchitectsDaughter-Regular';
    .header__hamburger {
      width: 15%;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      .header__hamburger-icon {
        width: 70%;
        height: 70%;
        position: relative;
        .header__hamburger-line1::before {
          content: '';
          position: absolute;
          top: 5px;
          left: 2px;
          width: 30px;
          height: 2.5px;
          background-color: colors.$negro;
        }
        .header__hamburger-line2::before {
          content: '';
          position: absolute;
          top: 15px;
          left: 2px;
          width: 30px;
          height: 2.5px;
          background-color: colors.$negro;
        }
        .header__hamburger-line3::before {
          content: '';
          top: 25px;
          left: 2px;
          position: absolute;
          width: 30px;
          height: 2.5px;
          background-color: colors.$negro;
        }
      }
    }
    .header__logo {
      width: 40%;
      height: 100%;
      .header__logo-icon {
        margin-top: 5px;
        width: 80%;
        height: 80%;
      }
    }
  }
  .main .section__slider{
    height: 400px;
    background-color: red;
    position: relative;
    .section__slide-main{
      width: 100%;
      height: 100%;
      .section-1 {
        background:linear-gradient(to top,rgba(7, 7, 198, 0.661),rgba(10, 0, 0, 0.559)),url(/img/background/background-1.webp);
        background-size: cover;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        .section-1__article{
          height: 70%;
          .section-1__article-header{
            width: 100%;
            .section-1__article-header-title{
              color: colors.$blanco;
              text-align: center;
              padding: 0px 10px;
              font-size: 2.2rem;
            }
          }
          .section-1__main{
            width: 100%;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            .section-1__text{
              padding: 0px 40px;
              text-align: center;
              color: colors.$greey-light;
              line-height: 25px;
            }
            .section-1__button{
              text-transform: uppercase;
              width: 40%;
              border: 0px;
              border-radius: 6px;
              padding: 17px;
              background-color: colors.$amarillo;
            }
          }
        }
      }
      .section-1.section-1--background{
        background:linear-gradient(to top,rgba(7, 7, 198, 0.661),rgba(10, 0, 0, 0.559)), url(/img/background/background-2.jpg);
        background-size: cover;
      }
    }
    .section__slide-button{
      position: absolute;
      width: 100%;
      left: 0px;
      bottom: 30px;
      .slider-point-event{
        background-color: colors.$amarillo;
      }
    }
  }
  .main .section-2{
    .section-2__title{
      width: 100%;
      .section-2__h2{
        padding:30px 0px;
        text-align: center;
      }
    }
    .section-2__sliders{
      .section-2__slide{
        .section-2__card{
          width: 100%;
          display: flex;
          flex-flow: column wrap;
          align-items: center;
          .section-2__card-img{
            padding: 10px;
            border: 1px solid colors.$greey-light;
            width: 90%;
          }
          .section-2__card-description{
            .section-2__card-title{
              text-align: center;
            }
            .section-2__card-text{
              text-align: center;
            }
          }
        }
      }
    }
    .section-2__slider-point{
      margin-top: 20px;
      padding: 40px 0px;
    }
    .section-2__slider-point > p{
      background-color: rgb(14, 134, 167);
    }
  }
  
  .main .section-3{
    display: flex;
    flex-flow: column wrap;
    background-color: #ebebeb;
    .section-3__card{
      padding: 50px 0px 20px 0px; 
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      .section-3__card-image{
        .section-3__card-img{
        }
      }
      .section-3__card-description{
        padding: 0px 30px;
        .section-3__card-description-h4{
          font-size: 1.5rem;
          text-align: center;
        }
        .section-3__card-description-text{
          text-align: center;
          color: colors.$grey-hard;
        }
      }
    }
  }

  .main .section-4{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: url(/img/background/background-3.jpg);
    background-size: cover;
    padding: 50px 0px;
    .section-4__counts{
      width: 95%;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
      row-gap: 20px;
      .section-4__count{
        width: 45%;
        height: 150px;
        text-align: center;
        color: colors.$blanco;
        font-weight: bold;
        .section-4__number-card{
          .section-4__number{
            font-size: 2rem;
            padding: 10px 0px;
          }
        }
        .section-4__count-text{
        }
      }
    }
  }

  .main .section-5{
    width: 100%;
  }
}
